h1{
    background-color: black;
    color: aquamarine;
}
ul{
    color: blue;
    background-color: brown;
}
.box{
    color: black;
    background-color: blue;
}
.box2{
    color: black;
    background-color: thistle;
}
.box3{
    color: black;
    background-color: aqua;
}
.box4{
    color: black;
}