*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}
.conatiner{
    display: grid;
    height: 50vh;
    width: 50vh;
    grid-template-columns: repeat(8,1fr);
}
.black{
    background-color: black;
   
}
.white{
    background-color: white;
}