body{
    background-color: bisque;
}


.first{
    background-color: aqua;
    width: 40vw;
    height: 20vw;
    margin-left: 30%;
    margin-bottom: 2%;
    border:10px;
    border-color:green;
    border-style:solid;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
    text-align: center;
    font-style: normal;   
}
.first:hover{
    transform: scale(1.2);
}
.second{
    color: green;
}