.conatiner{
    background-color: aqua;
    height: 700px;
    display:flex;
    flex-wrap: wrap;
    align-content:center;
    font-size: xx-large;
    font-weight: bold;
}
.box{
    height: 150px;
    width: 150px;
    border: 5px solid black;
    margin: 5px;
   
}
.box1,.box5,.box9,.box13{
    background-color: red;
}
.box2,.box6,.box10,.box14{
    background-color: blue;
}
.box3,.box7,.box11,.box15{
    background-color: green;
}
.box4,.box8,.box12,.box16{
    background-color: yellow;
}